header {
  z-index: 100;
  overflow: initial;
  transition: var(--transition);
}

.header-section {
  background: rgb(var(--bg-2));

  .theme-mode-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--primary-1));
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 20%;
    cursor: pointer;
    transition: var(--transition);
  }

  .nav-wrapper {
    gap: 20px;

    @media (max-width: 991px) {
      padding: 0 8px;
    }

    .menu-toggler {
      @media (max-width: 991px) {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(var(--bg-1));
        padding: 32px;
        width: 100%;
        height: 95vh;
        overflow-y: auto;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;

        &.active {
          top: 60px;
          transform: translateY(0);
        }
      }
    }
  }

  .logo {
    max-width: 180px;
    width: 100%;

    @media (max-width: 991px) {
      max-width: 140px;
    }
  }
}

/* Hamburger */
.hamburger-btn {
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 110;

  svg {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  &:hover svg {
    transform: scale(1.1);
    color: rgb(var(--primary-1));
  }

  @media (min-width: 992px) {
    display: none;
  }
}

/* Mobile Menu */
.menu-toggler {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(var(--bg-1));
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    z-index: 100;

    .menu-item {
      margin-bottom: 22px;
      font-size: 20px;
    }

    &.active {
      transform: translateY(0);
    }

    .nav-menu {
      flex-direction: column;
      gap: 24px;
      // margin-right: 2rem;

      .menu-link {
        font-size: 20px;
        color: rgb(255, 255, 255);
        transition: color 0.3s ease;

        &:hover {
          color: rgb(var(--primary-1));
        }
      }

      .menu-link-active {
        color: #f24f1d !important;
        font-weight: 600;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}

/* Desktop Nav */
.nav-menu-wrapper {
  @media (min-width: 992px) {
    display: flex;
    margin-right: 2rem;

    .menu-item {
      position: relative;

      .menu-link {
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease-in-out;
        border: none !important;
        box-shadow: none !important;
      }

      .menu-link-active {
        color: #f24f1d !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}
