.podcast-heading {
  text-align: center;
  // margin-top: 1rem;
  // font-size: 8rem;
  margin-bottom: 0.1rem;
}

.podcast-heading h1 {
  font-size: 4rem;
  font-weight: 700;
}

.podcast-heading h1 span {
  color: #f24f1d; /* your orange brand color */
}

/* ✅ Responsive (tablet + mobile) */
@media (max-width: 768px) {
  .podcast-heading h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .podcast-heading h1 {
    font-size: 1.4rem;
  }
}
